.fl-team{
    width: 100%;
    margin-top: 16px;
    & >div.fl-team-title{
        margin-top: 16px;
        background-color: white;
        border-bottom: 1px solid #f0f0f0;
        padding: 12px 8px;
    }
    & > div.fl-team-wrap{
        background-color: white;
        padding: 16px 16px;
    }
}